@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Palanquin+Dark:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6ece1;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

.img-logo {
    margin: 10px;
    width: 100%;
    height: 3rem;
}

.navbar {
    border-bottom: 2px solid #E88725;
    box-shadow: 1px 5px rgba(18, 7, 3, 0.3);
    -webkit-box-shadow: 1px 8px 61px 0px rgba(18, 7, 3, 0.3);
    -moz-box-shadow: 1px 8px 61px 0px rgba(18, 7, 3, 0.3);
}

.navbar-nav {
    font-family: 'Bree Serif', sans-serif;
}

.nav-link:hover {
    color: #F6ECE1;
    background-color: #E88725;
    border-radius: 5px;
}

.btn-master {
    font-family: 'Palanquin Dark', serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ABA937;
    color: #F6ECE1;
    background-color: #E88725;
}

.btn-master:hover {
    color: #F6ECE1;
    background-color: #DA740E;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(18, 7, 3, 0.5);
    background-size: cover;
    background-position: top center;
}

video {
    padding-top: 4rem;
    width: 100%;
}

.hero-title {
    position: relative;
    font-size: 5rem;
    font-family: 'Palanquin Dark', serif;
    background-color: none;
    text-align: left;
}