@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Palanquin+Dark:wght@400;600&family=Poppins:wght@300;400&family=Rubik:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6ece1;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

.img-logo {
    margin: 10px;
    width: 100%;
    height: 3rem;
}

.navbar {
    border-bottom: 2px solid #E88725;
    box-shadow: 1px 5px rgba(18, 7, 3, 0.3);
    -webkit-box-shadow: 1px 8px 61px 0px rgba(18, 7, 3, 0.3);
    -moz-box-shadow: 1px 8px 61px 0px rgba(18, 7, 3, 0.3);
}

.navbar-nav {
    font-family: 'Bree Serif', serif;
}

.nav-link:hover {
    color: #F6ECE1;
    background-color: #E88725;
    border-radius: 5px;
}

.banner {
    padding-top: 3vh;
}

.btn-master {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ABA937;
    color: black;
    background-color: #E88725;
}

.btn-master:hover {
    color: #F6ECE1;
    background-color: #DA740E;
}

.hero-title {
    top: 20vw;
    font-size: 4vw;
    left: 10vw;
    font-family: 'Palanquin Dark', sans-serif;
    color: #F6ECE1;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
}

.hero-description {
    top: 35vw;
    left: 10vw;
    font-size: 2vw;
    color: #F6ECE1;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

video {
    padding-top: 2vh;
    width: 100%;
}

p.h1 {
    color: #E88725 !important;
    margin-bottom: 5vw !important;
    border-bottom: 3px solid #E88725 !important;
}

.value-section {
    color: black;
    margin-top: 5vw !important;
}

.value-title {
    font-family: 'Rubik', sans-serif;
}

.value-desc {
    font-family: 'Poppins', sans-serif;
}

.typing-effect {
    height: 5.8ch;
    width: 20ch;
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid;
}
  
@keyframes typing {
    from {
        width: 0;
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}

lord-icon {
    background-color: transparent !important;
}